<!DOCTYPE html>
<html lang="en">

{{!-- head --}}
{{> head }}

<body>
    
    <div class="contenedor">
        <div class="tarjeta">
            {{!-- Consulta de productos --}}
            
        </div>
    </div>

    {{!-- Footer --}}
    {{> footer }}

</body>
</html>