<!DOCTYPE html>
<html lang="en">

{{!-- head --}}
{{> head }}

<body>

    <div class="contenedor">
        {{!-- Ingreso de productos --}}
        {{> ingresarProducto }}
    </div>

    {{!-- Footer --}}
    {{> footer }}

</body>

</html>