<!DOCTYPE html>
<html lang="en">

{{!-- head --}}
{{> head }}

<body>
    
    <div class="contenedor">
        <div class="tarjeta">
            {{!-- Ingreso de productos --}}
            {{> ingresarProducto }}
        </div>
    </div>

    {{!-- Footer --}}
    {{> footer }}

</body>
</html>